
{% load static %}
<!-- Club stats on about -->

<!--CLUB WRAP BEGIN-->
<section class="club-wrap">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4>Bredius Rollers</h4>
                <ul class="tab-filters">
                    <li class="active"><a href="#all">Club</a></li>
                    <li><a href="#nationalcup">Team H1</a></li>
                    <li><a href="#premierleague">Team H2</a></li>
                    <li><a href="#premierleague">Team H3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="club-top-info">
        <div class="organisation-header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="club-logo  wpb_animate_when_almost_visible wpb_zoomInLeft zoomInLeft wpb_start_animation animated">
                            <img class="img-responsive" src="{% static 'images/soccer/champ-logo.png' %}" alt="organisation logo" >                
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="org-club-info">
                            <div class="item"><h5>Bredius Rollers H3</h5></div>              
                            
                            <div class="item"><span>Season:</span> 2023-2024</div>
                            <div class="item"><span>Training:</span> Zaterdag 10:30 | 03-05-22 | essenlaan 3, woerden</div>
                            <div class="item"><span>Teams:</span> 3</div>
                            <div class="item"><span>Players:</span> 23</div>
                            
                            
                            <div class="item"><span>Devisie:</span> Overgangs klasse</div>
                            <div class="item"><span>Players:</span> 7</div>
                            <div class="item"><span>Aanvoerder:</span> Lordem Kander</div>
                            <div class="item"><span>Coach:</span> Lucas wourd</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="org-club-stat">
                            <div class="title">next opponent</div>
                            <div class="next">
                                <div class="avatar">
                                    <a href="matches.html" title="Athleticos Bilbor – AC Ramau">
                                        <img src="{% static 'images/common/main-match-icon1.png' %}"  alt="oponent logo"> 
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="name">Arnhem Antilopen</div>
                                    <div class="date">18 July 2023 / 11:45 / Amsterdam</div>
                                </div>
                            </div>
                            
                            <div class="title">next training</div>
                            <div class="next">
                                <div class="info">
                                    <div class="name">Zaterdag 10:30 | 06 Mei 2022</div>
                                    <div class="date">Start tijd 11:00 | Eind tijd 12:30</div>
                                    <div class="date">Opbouw 10:30 | Afbouw 12:30</div>
                                </div>
                            </div>
                            
                            <div class="title">team stats</div>
                            <div class="circle-item">
                                <div class="circle-bar" id="circle_3" data-percent="55"></div>
                                <div class="text">Winst </div>
                            </div>
                            <div class="circle-item">
                                <div class="circle-bar" id="circle_4" data-percent="37"></div>
                                <div class="text">Lost </div>
                            </div>             
                        </div>
                    </div>
                </div>	
            </div>	
        </div>
    </div>
</section>
<!--CLUB WRAP END-->