
{% load static %}
<!-- Latest Matches -->


<h6>Laatste wedstrijden</h6>

<div class="main-lates-matches">
    {% if games %}
        {% for game in games %}
            {% if game.completed %}
                <a href="{% url 'Games:game' game.id %}" class="item">
                    <span class="championship">{{ game.league }} klasse</span>
                    <span class="teams-wrap">
                            <span class="team">
                                <!-- <span>
                                    <img src="{% static 'images/common/team-logo3.png' %}" alt="team-image">
                                </span> -->
                                <span>{{ game.home_team }}</span>
                            </span>
                            <span class="score">
                                <span>{{ game.home_score }}:{{ game.away_score }}</span>
                                veld {{ game.field }}
                            </span>
                            <span class="team1">
                                <span>{{ game.away_team }}</span>
                                <!-- <span><img src="{% static 'images/common/team-logo4.png' %}" alt="team-image"></span> -->
                            </span>
                    </span>
                    <span class="game-result">team won met 2 verschil</span>
                </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p>No Games Availeble</p>
        </div>
    {% endif %}
            
</div>
