{% load static %}
<!-- Referees -->

<h6>referees</h6>
                    
<div class="match-lineup">
    <div class="team-wrap">	
        <div class="member">
            <a href="player.html" class="avatar"><img src="{% static 'images/common/member-avatar.jpg' %}" alt="member-avata"></a>
            <div class="info">
                <div class="wrap">
                    <a href="player.html" class="name">Dylan Miller</a>
                </div>
                <div class="country"><img src="{% static 'images/common/en-flag.png' %}" alt="flag">Ukraine</div>
            </div>
        </div>
    </div>
</div>