
{% load static %}
<!-- Alle Standen -->


<div class="col-md-6">
    <h6>Standend Hoofdklasse</h6>
    <div class="club-standings overflow-scroll">
        <table class="table-standings">
            <tr>
                <th>Club</th>
                <th>Win</th>
                <th>Played</th>
                <th>pts</th>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
        </table>
    </div>
</div>


<div class="col-md-6">
    <h6>Standend Overgangs klasse</h6>
    <div class="club-standings overflow-scroll">
        <table class="table-standings">
            <tr>
                <th>Club</th>
                <th>Win</th>
                <th>Played</th>
                <th>pts</th>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
        </table>
    </div>
</div>


<div class="col-md-6">
    <h6>Standend 1e klasse</h6>
    <div class="club-standings overflow-scroll">
        <table class="table-standings">
            <tr>
                <th>Club</th>
                <th>Win</th>
                <th>Played</th>
                <th>pts</th>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
        </table>
    </div>
</div>


<div class="col-md-6">
    <h6>Standend 2e klasse</h6>
    <div class="club-standings overflow-scroll">
        <table class="table-standings">
            <tr>
                <th>Club</th>
                <th>Win</th>
                <th>Played</th>
                <th>pts</th>
            </tr>
            <tr>
                <td class="up">
                    1 <span class="team"><img src="{% static 'images/soccer/team-logo2.png' %}" width="30" height="30" alt="team-logo"></span> <span>Kampong H2</span></td>
                <td>8</td>
                <td>12</td>
                <td><span>24</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
        </table>
    </div>
</div>


<div class="col-md-6">
    <h6>Standend 3e klasse</h6>
    <div class="club-standings overflow-scroll">
        <table class="table-standings">
            <tr>
                <th>Club</th>
                <th>Win</th>
                <th>Played</th>
                <th>pts</th>
            </tr>
            <tr>
                <td class="up">
                    1 <span class="team"><img src="{% static 'images/soccer/team-logo2.png' %}" width="30" height="30" alt="team-logo"></span> <span>Kampong H2</span></td>
                <td>8</td>
                <td>12</td>
                <td><span>24</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
        </table>
    </div>
</div>



<div class="col-md-6">
    <h6>Standend 4e klasse</h6>
    <div class="club-standings overflow-scroll">
        <table class="table-standings">
            <tr>
                <th>Club</th>
                <th>Win</th>
                <th>Played</th>
                <th>pts</th>
            </tr>
            <tr>
                <td class="up">
                    1 <span class="team"><img src="{% static 'images/soccer/team-logo2.png' %}" width="30" height="30" alt="team-logo"></span> <span>Kampong H2</span></td>
                <td>8</td>
                <td>12</td>
                <td><span>24</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
            <tr>
                <td class="down">
                    2 <span class="team"><img src="{% static 'images/soccer/team-logo3.png' %}" width="30" height="30" alt="team-logo"></span> <span>Peperbus H3</span></td>
                <td>11</td>
                <td>13</td>
                <td><span>20</span></td>
            </tr>
            <tr>
                <td class="none">
                    3 <span class="team"><img src="{% static 'images/soccer/team-logo4.png' %}" width="30" height="30" alt="team-logo"></span> <span>Rapid Rollers H1</span></td>
                <td>5</td>
                <td>10</td>
                <td><span>15</span></td>
            </tr>
            <tr>
                <td class="down">
                    4 <span class="team"><img src="{% static 'images/soccer/team-logo5.png' %}" width="30" height="30" alt="team-logo"></span> <span>Antilope H1</span></td>
                <td>8</td>
                <td>13</td>
                <td><span>10</span></td>
            </tr>
        </table>
    </div>
</div>
