

{% load static %}
<!-- Top Player Assists -->


<div class="best-players-list tab-pane" id="assist">
    <a href="player.html" class="item">
        <span class="number">21</span>
        <span>Luis hernas</span>
        <span class="achievement">53</span>
    </a>
    <a href="player-second-page.html" class="item">
        <span class="number">11</span>
        <span>obus Hernandez</span>
        <span class="achievement">21</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">9</span>
        <span>mies landers</span>
        <span class="achievement">22</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">5</span>
        <span>Dan Long</span>
        <span class="achievement">32</span>
    </a>
    <a href="player-second-page.html" class="item">
        <span class="number">6</span>
        <span>Kiesa Loke</span>
        <span class="achievement">43</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">5</span>
        <span>Bone Oker</span>
        <span class="achievement">42</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">2</span>
        <span>Lome Ader</span>
        <span class="achievement">32</span>
    </a>
</div>