
{% load static %}
<!-- Beste spelers top goals -->

<div class="best-players-list tab-pane active" id="goals">
    <a href="player-second-page.html" class="item">
        <span class="number">12</span>
        <span>Mithc Lovers</span>
        <span class="achievement">41</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">42</span>
        <span>Loeker noek</span>
        <span class="achievement">23</span>
    </a>
    <a href="player-second-page.html" class="item">
        <span class="number">11</span>
        <span>Asan honk</span>
        <span class="achievement">52</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">4</span>
        <span>Alies Ano</span>
        <span class="achievement">23</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">2</span>
        <span>Ani Oni</span>
        <span class="achievement">65</span>
    </a>
    <a href="player-second-page.html" class="item">
        <span class="number">3</span>
        <span>Sen pai</span>
        <span class="achievement">34</span>
    </a>
    <a href="player.html" class="item">
        <span class="number">1</span>
        <span>Alo van hiersomleender</span>
        <span class="achievement">21</span>
    </a>    
</div>