{% load static %}

{% if sponsor %}
<!--SPONSOR BOX BEGIN-->
<div class="am-sponsor-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="text">
                    Dank aan onze sponsoren voor hun onmisbare steun en betrokkenheid! Jullie verdienen een vermelding op onze website als blijk van waardering. Laten we samen blijven werken aan meer fantastische resultaten in de toekomst!
                </p>

            </div>
            {% for s in sponsor %}
            <div class="col-xs-3 text-center">
                <img  class="sponsor-icons" src="{{ s.logo.url }}" alt="sponsor image">	
                <p>{{s.title}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--SPONSOR BOX END-->
{% endif %}