

{% load static %}

{% url 'Pages:home' as home %}
{% url 'Pages:wedstrijden' as wedstrijden %}
{% url 'Pages:teams' as teams %}
{% url 'Pages:overons' as overons %}
{% url 'Pages:contact' as contact %}
{% url 'Accounts:dashboard' as login %}

<div class="main-menu-wrap sticky-menu">
    <div class="container">
        <a href="{{ home }}" class="custom-logo-link"><img src="{% static 'images/site/small_white_logo.png' %}" alt="logo" class="custom-logo"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#team-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav class="navbar">
            <div class="collapse navbar-collapse" id="team-menu">
                <ul class="main-menu nav">

                    <li {% if request.path == home %}class="active"{% endif %}>
                        <a href="{{ home }}"><span>Home</span></a>
                    </li>


                    <li {% if request.path == wedstrijden %}class="active"{% endif %}>
                        <a href="{{ wedstrijden }}"><span>Wedstrijden</span></a>
                    </li>

                    <li {% if request.path == teams %}class="active"{% endif %}>
                        <a href="{{ teams }}"><span>Teams</span></a>
                    </li>
                    
                    <li {% if request.path == overons %}class="active"{% endif %}>
                        <a href="{{ overons }}"><span>Over ons</span></a>
                    </li>

                    <li {% if request.path == contact %}class="active"{% endif %}>
                        <a href="{{ contact }}"><span>Contact</span></a>
                    </li>

                    <!-- <li {% if request.path == login %}class="active"{% endif %}>
                        <a href="{{ login }}"><span><i class="fa fa-user"></i></span></a>
                    </li>                     -->
                </ul>
            </div>       
        </nav>
    </div>
</div>