{% extends 'base.html' %}
{% load static %}

{% block title %} | OverOns {% endblock %}

{% block content %}


<!--TROPHEY ROOM BEGIN-->
<section class="trophey-room">
    
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Club informatie</h4> 
            </div>

            
            <div class="col-md-7">
                <div class="trophey-media">
                    <img src="{{ club.picture.url }}" alt="club-image">
                </div>
            </div>
            <div class="col-md-5">
                <ul class="done-list">
                    <!-- <li>Win a championship</li>
                    <li>Played 96 matches</li>
                    <li>Have not lost a single match at home</li>
                    <li>New club record for most scores</li> -->
                    <li>Leeftijd en beperking vormen geen belemmering: bij ons is <strong>iedereen welkom</strong>!</li>
                    <li>Ontdek de <strong>spanning en sportiviteit</strong> van Rolstoelhockey: een uitdagende teamsport met techniek en tactiek.</li>
                    <li>Geniet van een <strong>vertrouwelijke sfeer</strong> waarin je op je eigen niveau kunt spelen, met ondersteuning om naar de top te komen.</li>
                    <li><strong>Prestaties en teamspel</strong> gaan hand in hand bij onze club: ervaar het zelf en ontdek hoe ver je kunt komen!</li>
                    <li>Bij ons draait alles om <strong>passie en plezier</strong>: ontdek hoe je met jouw talenten het beste uit jezelf kunt halen!</li>
                </ul>
            </div>
            <div class="col-md-12">
                <p>
                    {{ club.description }}
                </p>
            </div>

        </div>
    </div>

    <!--TIMELINE BEGIN-->
    <div class="timeline-bar">
        <div class="bar">
            <div class="date date-1" ></div>
            <div class="date date-2" ></div>
            <div class="date date-3" ></div>
            <div class="date date-4" ></div>
            <div class="date date-5" ></div>
            <div class="date date-6 active" ></div>
        </div>
                
        <script>
            const firstYear = 2015;
            const currentYear = new Date().getFullYear();
            const numYears = currentYear - firstYear + 1;
            const step = Math.floor(numYears / 5);
        
            const yearDivs = document.querySelectorAll('.date');
        
            yearDivs[0].textContent = firstYear;
            yearDivs[yearDivs.length - 1].textContent = currentYear;
        
            for (let i = 1; i < yearDivs.length - 1; i++) {
                const year = firstYear + i * step;
                yearDivs[i].textContent = year;
            }
        </script>
    </div>
    <!--TIMELINE END-->
    
</section>
<!--TROPHEY ROOM END-->


<!--CLUB WRAP BEGIN-->
<section class="club-wrap">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <h4>{{ club.name }}</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a href="{% url 'Pages:contact' %}" class="btn small club-top-btn">Versterk jij ons team?</a>
            </div>
        </div>
    </div>
    <div class="club-top-info">
        <div class="organisation-header-wrapper">
            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane active" id="all">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="club-logo  wpb_animate_when_almost_visible wpb_zoomInLeft zoomInLeft wpb_start_animation animated">
                                    <img class="img-responsive" src="{% static 'images/icons/ball.png' %}" alt="organisation logo" >                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="org-club-info">                                    
                                    <div class="item"><span>Seizoen:</span> {{ club.season.start_date|date:"M Y" }} - {{ club.season.end_date|date:"M Y" }}</div>
                                    <div class="item"><span>Onze teams:</span> {{ teamnames }}</div>  
                                    <div class="item"><span>Plaats:</span> {{ club.city }}</div>
                                    <div class="item"><span>Trainingen gehad:</span> {{ training_count }}</div>
                                    <div class="item"><span>Aantal leden:</span> {{ member_count }}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="org-club-stat">      
                                    {% if next_training %}
                                    <div class="title">aankomend training | <strong id="training-countdown-box"></strong></div>
                                    <div class="next">
                                        <div class="info">
                                            <div class="name" id="training-countdown">{{ next_training.date|date:"l" }} {{ next_training.training_time.start_time|date:"H:i" }} | {{ next_training.date|date:"d M Y" }}</div>
                                            <div class="date">{{ next_training.training_location.adress.street }} {{ next_training.training_location.adress.house_number }} | {{ next_training.training_location.adress.zipcode }} {{ next_training.training_location.adress.zipcode_number }} {{ next_training.training_location.adress.place }}</div>
                                            <div class="date">Start tijd {{ next_training.training_time.start_time|date:"H:i" }} | Eind tijd {{ next_training.training_time.end_time|date:"H:i" }}</div>
                                            <div class="date">Opbouw ca. 30min | Afbouw ca. 30min</div>
                                        </div>
                                    </div>
                                   {% endif %}
                                    
                                    <!-- <div class="title">team stats</div>
                                    <div class="circle-item">
                                        <div class="circle-bar" id="circle_3" data-percent="55"></div>
                                        <div class="text">Winst </div>
                                    </div>
                                    <div class="circle-item">
                                        <div class="circle-bar" id="circle_4" data-percent="37"></div>
                                        <div class="text">Lost </div>
                                    </div>              -->
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>
<!--CLUB WRAP END-->



{% if photos %}
<!--MACTH LIVE GALLERY BEGIN-->
<section class="match-live-gallery">
    <div class="owl-carousel owl-theme gallery-slider">
        {% for photo in photos %}
        <div class="item">
            <a href="javascript:void(0);">
                <span class="info">
                    <span class="then">{{ photo.title }}</span>
                    <span class="what">{{ photo.description }}</span>
                </span>
                <img src="{{ photo.photo.url }}" alt="{{ photo.title }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6 text-right">
                <div class="owl-carousel-arrows">
                    <div class="custom-navigation">
                        <a class="custom-next-btn"><i class="fa fa-caret-left fa-3x" aria-hidden="true"></i></a>
                        <a class="custom-prev-btn"><i class="fa fa-caret-right fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--MACTH LIVE GALLERY END-->
{% endif %}


<!-- Bredius Team -->
{% include 'import/_brediusTeam.html' %}
<!-- Bredius Team End -->


<!-- Call to action -->
{% include 'import/_call2action.html' %}
<!-- Become part of a great team -->


<!--SPONSOR BOX BEGIN-->
{% include 'import/_sponsor.html' %}
<!--SPONSOR BOX END-->



{% endblock %}