{% extends 'base.html' %}
{% load static %}

{% block title %} | Teams {% endblock %}

{% block content %}

{{ bred }}


<!--CLUB STAFF TOP BEGIN-->
<div class="club-staff-top">
    <div class="container">
        <div class="row">
            {% for team, players in team_players.items %}
                <div class="col-md-12">
                    <h4>{{ team.get_name }}</h4>
                </div>
                {% for player in players %}
                <div class="staff-box">            
                    <div class="col-md-3  col-sm-6 col-xs-12">
                        <a href="{% url 'Pages:player' player.id %}" class="item">
                            <span class="info">
                                <span class="name">{{ player.profile.get_full_name }}</span>
                                <span class="position">{{ player.positions }}</span>
                                <span class="number">{{ player.number_plate }}</span>
                            </span>
                            <img src="{{ player.profile.profiel.url }}" alt="player">
                        </a>
                    </div>                                         
                </div>
                {% endfor %}
            {% endfor %}      
        
            <!-- <div class="col-md-12">
                <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch. </p>
            </div> -->
        </div>
    </div>
</div>
<!--CLUB STAFF TOP END-->

<!-- Bredius Team -->
{% include 'import/_brediusTeam.html' %}
<!-- Bredius Team End -->

<!--SPONSOR BOX BEGIN-->
{% include 'import/_sponsor.html' %}
<!--SPONSOR BOX END-->

{% endblock %}